.d-flex {
    display: flex;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    background-color: #1c1c1c;
    border-radius: 10px;
}

.ml-3 {
    margin-left: 1rem;
}

.font {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2px;
}